Fail2Rdp/Connected Services/Fail2RdpService/Fail2Rdp.Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Fail2Rdp.Service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Fail2Rdp.Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Fail2Rdp.Service/Imports">
      <xsd:import namespace="http://Fail2Rdp.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFail2RdpWCFService_AddBan_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBan" />
  </wsdl:message>
  <wsdl:message name="IFail2RdpWCFService_AddBan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBanResponse" />
  </wsdl:message>
  <wsdl:message name="IFail2RdpWCFService_RemoveBan_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBan" />
  </wsdl:message>
  <wsdl:message name="IFail2RdpWCFService_RemoveBan_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBanResponse" />
  </wsdl:message>
  <wsdl:message name="IFail2RdpWCFService_GetBans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBans" />
  </wsdl:message>
  <wsdl:message name="IFail2RdpWCFService_GetBans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBansResponse" />
  </wsdl:message>
  <wsdl:message name="IFail2RdpWCFService_GetThreshold_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThreshold" />
  </wsdl:message>
  <wsdl:message name="IFail2RdpWCFService_GetThreshold_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThresholdResponse" />
  </wsdl:message>
  <wsdl:message name="IFail2RdpWCFService_SetThreshold_InputMessage">
    <wsdl:part name="parameters" element="tns:SetThreshold" />
  </wsdl:message>
  <wsdl:message name="IFail2RdpWCFService_SetThreshold_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetThresholdResponse" />
  </wsdl:message>
  <wsdl:portType name="IFail2RdpWCFService">
    <wsdl:operation name="AddBan">
      <wsdl:input wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/AddBan" message="tns:IFail2RdpWCFService_AddBan_InputMessage" />
      <wsdl:output wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/AddBanResponse" message="tns:IFail2RdpWCFService_AddBan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBan">
      <wsdl:input wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/RemoveBan" message="tns:IFail2RdpWCFService_RemoveBan_InputMessage" />
      <wsdl:output wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/RemoveBanResponse" message="tns:IFail2RdpWCFService_RemoveBan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBans">
      <wsdl:input wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/GetBans" message="tns:IFail2RdpWCFService_GetBans_InputMessage" />
      <wsdl:output wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/GetBansResponse" message="tns:IFail2RdpWCFService_GetBans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThreshold">
      <wsdl:input wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/GetThreshold" message="tns:IFail2RdpWCFService_GetThreshold_InputMessage" />
      <wsdl:output wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/GetThresholdResponse" message="tns:IFail2RdpWCFService_GetThreshold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetThreshold">
      <wsdl:input wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/SetThreshold" message="tns:IFail2RdpWCFService_SetThreshold_InputMessage" />
      <wsdl:output wsaw:Action="http://Fail2Rdp.Service/IFail2RdpWCFService/SetThresholdResponse" message="tns:IFail2RdpWCFService_SetThreshold_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>